.block
  .content
    %h2.title= t('views.users.edit_user')
    .inner
      - form_for @user, :url => user_path(@user), :html => {:class => "form"} do |f|
        .columns.wat-cf
          = error_messages_for :user
          = render :partial => "form", :locals => {:f => f}
