#user-navigation
  %ul.wat-cf
    %li
      =# link_to t("web-app-theme.settings", :default => "Settings"), edit_admin_account_path
    %li
      //%a.logout{:href => "/logout"}= t("web-app-theme.logout", :default => "Logout")